<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FacePage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <h1>Welcome to FacePage</h1>
        <div id="app"></div>

        <!-- 
            Notice we are referring to bundle.js as an absolute path to the root directory.
            
            Bundle.js will not exist until we run our webpack process.
             -->
        <script src="/bundle.js"></script>
    </body>
</html>